/*************************************
  General / Bootstrap Overrides
*************************************/
a {
    cursor: pointer;
}

.btn-default {
    background: linear-gradient(#ffffff, #f5f4f3);
    color: black;
}

.btn-default:focus,
.btn-default:hover {
    background: linear-gradient(#f5f4f3, #ffffff);
    color: black;
}

.btn var {
    font-style: normal;
}

.help-tooltip {
    cursor: help;
    color: gray;
    display: inline-block;
    padding-left: 0.5em;
}

code {
    color: green;
}

kbd {
    background-color: #f5f5f5;
    color: #333;
    box-shadow: 0 0px 1px rgba(0,0,0,1);
}

/*************************************
 No margin for social icon in navbar
**************************************/
.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.left {
    margin-right: 10px;
    float: left;
}

img.right {
    margin-right: 10px;
    float: right;
}

#banner-fade,
#banner-slide {
    margin-bottom: 60px;
}

/*************************************
  bjqs library
/************************************/
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline; }
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

ul.bjqs-controls.v-centered li a{
    background: #eee;
    color: #87A556;
    text-decoration: none;

    display: block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
}

ul.bjqs-controls.v-centered li a:hover{
    background:#87A556;
    color:#fff;
}

ol.bjqs-markers li a {
    padding:5px 10px;
    background:#87A556;
    color:#fff;
    margin:5px;
    text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover {
    background: #DD4814;
}

p.bjqs-caption {
    background: rgba(255,255,255,0.5);
}

/*************************************
  Footer
*************************************/
#mate-footer {
    text-align: center;
    background-color: #87A556;
    align-content: center;
    align-items: center;
    width: auto;
    color: #fff;
    padding: 1em 0;
}

#mate-footer .left {
    width: 70%;
    display: inline-block;
    float: left;
    text-align: left;
}

#mate-footer .right {
    width: 30%;
    display: inline-block;
    float: right;
    text-align: right;
}

#mate-footer #copyright {
    margin-bottom: 1em;
}

#mate-footer a {
    color: white;
}

#mate-footer .links a + a {
    margin-left: 1em;
}

#mate-footer #license {
    font-size: 0.9em;
}

#mate-footer #social img {
    height: 2em;
    width: 2em;
    margin: 1em .1em;
}

#mate-footer #social img:hover {
    opacity: 0.75;
    background-color: #9AB270;
}

#mate-footer .separator {
    display: inline-block;
    width: 1px;
    height: 1.5em;
    border-left: 1px solid white;
    vertical-align: middle;
    margin: 0 0.4em;
}

/*************************************
  Spacing and header colours
*************************************/
.navbar-default {
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #87A556;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #87A556;
}

article {
    margin: 6em 0;
}

.entry-content {
    margin-top: 1em;
}

.post-text img {
    margin: 1em 0;
}

/*************************************
  Sticky Footer
*************************************/
.body-content {
    min-height: calc(100vh - 128px);
}

#mate-footer {
    min-height: 96px;
}

/*************************************
  Home Page Greeting
*************************************/
.greetings {
    padding: 0;
}

.greetings img {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin-top: 6em;
    float: left;
}

.greetings .description {
    display: inline-block;
    width: calc(100% - 220px - 1em);
    margin-top: 6em;
    padding-left: 2em;
}

.greetings h2 {
    color: white;
    font-size: 38px;
}

.greetings p {
    color: white;
    font-size: 22px;
}

@media screen and (max-width:767px) {
    .greetings .description {
        width: 100%;
        margin-top: 4em;
    }
}
