<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <p>&copy; 2014-{{ site.time | date:'%Y' }} Ubuntu MATE Team</p>
                <p class="dim">
                    {{ site.data.strings.footnote | replace: '[Ubuntu]', '<a href="https://www.ubuntu.com" rel="external">Ubuntu</a>' | replace: '[Canonical Ltd.]', '<a href="https://www.canonical.com" rel="external">Canonical Ltd.</a>' }}
                </p>
                <p class="site-chooser-wrapper">
                    <a class="site-chooser active" href="https://ubuntu-mate.org">ubuntu-mate.org</a>
                    <a class="site-chooser" href="https://ubuntu-mate.community">ubuntu-mate.community</a>
                    <a class="site-chooser" href="https://guide.ubuntu-mate.org">guide.ubuntu-mate.org</a>
                </p>
            </div>
            <div class="col-md-12 col-lg-6 text-right">
                <div class="footer-links">
                    <a class="link-with-icon" href="/raspberry-pi/">
                        {% include images/brands/rpi-outline.svg %}
                        <span>{{ site.data.strings.raspberry_pi }}</span>
                    </a>
                    <a class="link-with-icon" href="/umpcs/">
                        {% include images/fa/laptop.svg %}
                        <span>{{ site.data.strings.device_ports }}</span>
                    </a>
                    <a class="link-with-icon" href="/faq/">
                        {% include images/fa/question-circle.svg %}
                        <span>{{ site.data.strings.faq }}</span>
                    </a>
                </div>
                <div class="social-links">
                    {% assign links = "rss,launchpad,github,twitter,matrix" | split: "," %}
                    {% for link in links %}
                        <a href="{{ site.[link] }}" rel="nofollow" title="{{ site.data.strings.[link] }}">{% include images/footer/{{link}}.svg %}</a>
                    {% endfor %}
                </div>
                <div class="footer-links">
                    {% if site.active_lang == 'en' and page.autogen == null %}
                    <a href="https://github.com/ubuntu-mate/ubuntu-mate.org/edit/master/{{ page.path }}" class="external" rel="nofollow">
                        <span>{{ site.data.strings.edit_page }}</span>
                        {% include images/fa/external-link-alt.svg %}
                    </a>
                    {% endif %}

                    <a href="{{ site.translate }}" class="external" rel="nofollow">
                        <span>{{ site.data.strings.translate_site }}</span>
                        {% include images/fa/external-link-alt.svg %}
                    </a>

                    <a href="https://github.com/ubuntu-mate/ubuntu-mate.org/commits/master" class="external" rel="nofollow">
                        <span>{{ site.data.strings.recent_changes }}</span>
                        {% include images/fa/external-link-alt.svg %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
