body, button, input {
    font-family: $primary-font;
    color: $text-colour-dark;
}

a {
    color: $link-color;

    &:hover,
    &:focus {
        color: $link-color-focused;
    }
}

::selection {
    background: $ubuntu-mate-dark;
    color: $text-colour-light;
}

hr {
    border: none;
    border-top: 1px solid $grey-light;
}

code {
    font-family: $monospace-font;
    color: $ubuntu-mate-dark;
}

/************************
 * Push footer to the bottom
*************************/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

footer {
    margin-top: auto;
}

/************************
 * Text class helpers
*************************/
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.monospace-font {
    font-family: $monospace-font;
    font-size: 16px;
}
