/************************
 * Buttons
*************************/
button,
.btn {
    background: var(--button-bg);
    border: 1px solid var(--button-border);
    color: var(--text-colour-dark);
    cursor: pointer;
    border-radius: 8px;
    padding: 6px 12px;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        border: 1px solid var(--button-border-focused);
        color: var(--text-colour-dark);
        outline: 0;
        text-decoration: none;

        svg path {
            fill: var(--text-colour-dark);
        }
    }

    &:active {
        background: var(--button-bg-clicked);
    }

    img {
        float: left;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }

    svg path {
        fill: var(--text-colour-dark);
    }
}

a.btn {
    /* Slightly more padding for anchors that look like buttons */
    padding: 8px 12px;
}

/* Alternate button themes */
button.inverted,
.btn.inverted,
button.green,
.btn.green,
button.yellow,
.btn.yellow,
button.red,
.btn.red {
    border-color: transparent;
    color: var(--text-colour-light);

    svg path {
        fill: var(--text-colour-light);
    }

    &:focus,
    &:hover {
        fill: var(--text-colour-light);
    }

    &:active {
        color: var(--text-colour-light);
    }
}

/* Button Theme - Header/Footer */
button.inverted,
.btn.inverted {
    background: var(--button-bg-inverted);

    &:active {
        background: var(--button-bg-inverted-clicked);
    }
}

/* Button Theme - Green */
button.green,
.btn.green {
    background: var(--button-bg-green);

    &:active {
        background: var(--button-bg-green-clicked);
    }
}

/* Button Theme - Yellow */
button.yellow,
.btn.yellow {
    background: var(--button-bg-yellow);

    &:active {
        background: var(--button-bg-yellow-clicked);
    }
}

/* Button Theme - Red */
button.red,
.btn.red {
    background: var(--button-bg-red);

    &:active {
        background: var(--button-bg-red-clicked);
    }
}

/* Button Theme - Dropdown */
button.dropdown {
    color: var(--header-text);

    &:hover {
        color: var(--text-colour-light);
    }
}
