@font-face {
    font-family: "Ubuntu-Embed";
    src: url("/assets/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: "Ubuntu-Embed";
    src: url("/assets/fonts/Ubuntu-B.ttf");
    font-weight: bold;
    font-style: normal;
}
