.site-footer {
    background: var(--ambiant-bg);
    color: var(--text-colour-light);
    font-size: 14px;
    padding: 15px 0;

    a {
        cursor: pointer;
        color: var(--ambiant-text-colour-light);
    }

    p {
        margin: 5px 0;

        &.dim,
        &.dim a {
            color: var(--grey-dark);
        }
    }

    .site-chooser-wrapper {
        display: block;
        margin-top: 10px;
    }

    .site-chooser {
        display: inline-block;
        padding: 10px;

        &.active {
            background: var(--ambiant-bg-light-1);
        }

        &:hover,
        &:focus {
            background: var(--ambiant-bg-light-2);
            text-decoration: none;
        }

        &:active {
            background: var(--ambiant-bg-light-3);
        }
    }
}

.footer-links {
    a {
        display: inline-flex;
        padding: 2px 10px;
        text-decoration: none;

        &:hover,
        &:focus {
            span {
                text-decoration: underline;
            }
        }

        + a {
            border-left: 1px solid var(--ambiant-text-colour-light);
        }

        /* External links */
        svg {
            height: 12px;
            width: auto;
            margin: auto 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            path {
                fill: var(--ambiant-text-colour-light);
            }
        }

        &.link-with-icon {
            svg {
                height: 16px;
            }
        }
    }
}

.social-links {
    margin: 10px 0;

    a {
        background: var(--ambiant-bg-dark-2);
        display: inline-block;
        padding: 1px;
        margin: 0 2px;

        svg {
            height: 30px;
            width: 30px;

            path {
                fill: var(--ambiant-text-colour-light);
            }
        }

        &:hover,
        &:focus {
            background: var(--ambiant-bg-dark-1);

            svg path {
                fill: var(--ambiant-text-colour-light);
            }
        }

        &:active {
            background: var(--ambiant-bg-dark-3);
        }
    }
}

@media screen and (max-width: $md) {
    .site-footer .container {
        max-width: none;

        .text-right {
            margin-top: 5px;
            text-align: center;
        }

        .site-chooser-wrapper {
            margin-top: 15px;
            text-align: center;
        }
    }
}
