.grid-container {
    margin: 15px 0;
}

.grid-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--grey-dark);
    outline-color: var(--ubuntu-mate-light);
    color: var(--text-colour-dark);
    width: 100%;
    min-height: 175px;
    vertical-align: top;
    padding: 15px 30px;
    margin: 15px 0;
    text-align: left;
    transition-property: fill, color, border-color, background;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing);

    h4,
    p {
        margin-bottom: 5px;
    }

    &:hover,
    &:focus {
        border-color: var(--ubuntu-mate-light);
        text-decoration: none;

        svg path {
            fill: var(--ubuntu-mate-light);
        }
    }

    &:active {
        background: var(--ubuntu-mate-light);
        color: var(--text-colour-light);
        transition: none;

        img {
            filter: brightness(5);
        }

        svg path {
            fill: var(--text-colour-light);
            transition: none;
        }

        h4, p {
            color: var(--text-colour-light);
        }
    }
}

.grid-icon {
    margin-right: 15px;

    img, svg {
        height: auto;
        width: 64px;
    }

    svg path {
        fill: var(--grey-light);
        transition: fill var(--transition-duration) var(--transition-timing);
    }
}

.grid-details {
    width: 100%;
}
