
$trigger-smaller-header: 1060px;
$trigger-smallest-header: 865px;

.site-header {
    background: var(--ubuntu-mate-light);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    box-shadow: 0px 0px 10px var(--ubuntu-mate-light-2);
    z-index: 100;
}

#site-header-block {
    height: var(--header-height);
    padding: 5px 0;
    margin-bottom: 15px;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-logo {
    display: block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin-right: 10px;

    &:hover {
        img {
            transition: transform var(--transition-duration) var(--transition-timing);
            transform: rotate(120deg);
        }
    }

    &:focus {
        outline: 2px solid var(--ubuntu-mate-light-3);
    }

    img {
        height: 48px;
        width: 48px;
    }
}

.primary-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.nav-push-right {
    margin-left: auto;
}

.nav-btn {
    display: block;
    color: var(--text-colour-light);
    cursor: pointer;
    padding: 15px;
    position: relative;

    &.active {
        background: var(--ubuntu-mate-light-1);
    }

    &:hover,
    &:focus {
        background: var(--ubuntu-mate-light-2);
        color: var(--text-colour-light);
        text-decoration: none;

        svg path {
            fill: var(--text-colour-light);
        }
    }

    &:active {
        background: var(--ubuntu-mate-light-3);
        outline-color: var(--ubuntu-mate-light-3);
    }

    svg {
        height: 20px;
        width: auto;

        path {
            fill: var(--text-colour-light);
        }
    }
}

/* Language Picker */
.nav-i18n {
    display: block;
    color: var(--text-colour-light);
    padding: 15px;
}

#i18n-chooser-mobile,
.nav-i18n-btn {
    img, svg {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        height: auto;
        width: 16px;
    }

    svg {
        height: 10px;
        width: auto;
    }
}

#i18n-chooser-mobile {
    text-transform: uppercase;
}

#i18n-chooser {
    &:checked {
        ~ ul .i18n-dropdown {
            display: flex;
        }

        ~ ul .i18n-btn,
        ~ ul #i18n-chooser-mobile {
            background: var(--background);
            color: var(--text-colour-dark);
            padding-bottom: 20px;

            svg path {
                fill: var(--text-colour-dark);
            }
        }
    }
}

.i18n-dropdown {
    display: none;
    background: var(--background);
    border: var(--dropdown-border);
    box-shadow: var(--dropdown-shadow);
    position: absolute;
    top: calc(var(--header-height) - 4px);
    right: 15px;
    margin: auto;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;

    li {
        width: 150px;
        max-width: 90vw;

        .nav-btn {
            color: var(--text-colour-dark);

            &.checked {
                background: var(--ubuntu-mate-light-1);
                color: var(--text-colour-light);

                svg path {
                    fill: var(--text-colour-light);
                }

                &::after {
                    content: " ";
                    background: var(--text-colour-light);
                    border-radius: 50%;
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    top: 20px;
                    right: 20px;
                    font-size: 20px;
                    line-height: 20px;
                }
            }

            &:hover,
            &:focus {
                background: var(--ubuntu-mate-light-2);
                color: var(--text-colour-light);
                text-decoration: none;

                svg path {
                    fill: var(--text-colour-light);
                }
            }
        }
    }
}

/* Mobile only */
.mobile-only {
    display: none;
}

@media screen and (max-width: $lg) {
    .site-header > .container {
        max-width: none;
    }
}

@media screen and (min-width: $trigger-smallest-header + 1px) and (max-width: $trigger-smaller-header) {
    .nav-btn {
        padding: 10px 0.75vw;
        margin: 5px 0;
    }

    .i18n-dropdown {
        right: 15px;

        li a {
            margin: 0;
        }
    }

    .i18n-btn {
        display: none;
    }

    #i18n-chooser-mobile {
        display: block;
    }
}

@media screen and (max-width: $trigger-smallest-header + 1px) and (max-width: $trigger-smaller-header) {
}

@media screen and (max-width: $trigger-smallest-header) {
    .mobile-only {
        display: block;
    }

    .mobile-only-toggle {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    .primary-nav {
        display: none;
        background: var(--background);
        border: var(--dropdown-border);
        box-shadow: var(--dropdown-shadow);
        position: fixed;
        top: var(--header-height);
        left: 15px;
        right: 15px;
        margin: auto;
        flex-wrap: wrap;

        li {
            position: relative;
            width: 50%;

            a {
                color: var(--text-colour-dark);

                &.active {
                    color: var(--text-colour-light);

                    &::after {
                        content: " ";
                        position: absolute;
                        background: var(--text-colour-light);
                        border-radius: 50%;
                        height: 10px;
                        width: 10px;
                        top: 20px;
                        right: 20px;
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    #primary-mobile-only-toggle {
        &:checked {
            ~ .primary-nav {
                display: flex;
            }

            ~ li #primary-nav-mobile {
                background: var(--background);
                padding-bottom: 20px;

                svg path {
                    fill: var(--text-colour-dark);
                }
            }
        }
    }

    /* Show full language text, not shortened locale code */
    #i18n-chooser-mobile {
        display: none;
    }

    .i18n-btn {
        display: block;
    }
}
