$side-width: 200px;
$side-arrow: 32px;

.milestone-timeline {
    display: flex;
    flex-direction: row;
}

.milestone-sidebar {
    width: $side-width;
    background: url(/images/history/motif.jpg) repeat -250px 0px;
    min-height: 200px;
    background-size: 480px;
}

.milestone-article {
    padding: 15px 0 15px 30px;
    width: calc(100% - #{$side-width});

    h2 {
        position: absolute;
        left: 30px;
        margin-top: 15px;
        font-size: 1.25em;
        color: var(--grey-light);

        &:first-child {
            margin-top: 30px;
        }
    }

    h3 {
        margin-top: 30px;
    }
}

.milestone-image {
    float: right;
    margin-left: auto;
    max-height: 250px;
    max-width: 250px;
}

@media (max-width: $sm) {
    .milestone-sidebar {
        display: none;
    }

    .milestone-article {
        width: 100%;
        padding: 0;

        h2 {
            position: static;
            left: unset;
            margin-top: 30px;
            position: static;
            background: url(/images/history/motif.jpg) repeat -0px 100px;
            background-size: 500px;
            padding: 10px 15px;
            margin: 30px -15px 15px;

            &:first-child {
                margin-top: 0;
            }
        }

        h3 {
            margin-top: 10px;
        }
    }
}

@media (max-width: $xs) {
    .milestone-image {
        float: none;
        text-align: center;
        margin: 15px auto;
    }
}
