#results-container {
    margin: 15px 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;

        a {
            padding-left: 20px;
            background: url('/images/Ambiant-MATE/text-x-generic.svg') no-repeat 0px center;
        }
    }
}
