{% assign background_path = include.bg %}
{% assign foreground_path = include.fg %}
{% assign text = include.text %}
{% assign variant = include.variant %}

{% capture uuid %}banner-{{ include.bg | split:'/' | last | replace:'.jpg','' | replace:' ','-' }}{% endcapture %}

{% if background_path %}
<style>
    #{{ uuid }} {
        background-image: url({{ background_path }});
    }

    .webp #{{ uuid }} {
        background-image: url({{ background_path | replace:'.jpg', '.webp' }});
    }
</style>
{% endif %}

<div id="{{ uuid }}" class="banner {% if variant %}{{ variant }}{% endif %}">
    <div class="container">
        {% if foreground_path or text %}
            <div class="row banner-inner">
                {% if foreground_path %}
                    <div class="col-12 col-md-4">
                        <img class="banner-image" src="{{ foreground_path }}" alt=""/>
                    </div>
                {% endif %}

                {% if text %}
                    <div class="col banner-text">
                        {{ text }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
