{% assign background_path = include.bg %}
{% assign foreground_path = include.fg %}
{% assign text = include.text %}
{% assign variant = include.variant %}

<div class="banner {% if variant %}{{ variant }}{% endif %}" {% if background_path %}style="background-image: url({{ background_path }});"{% endif %}>
    <div class="container">
        {% if foreground_path or text %}
            <div class="row banner-inner">
                {% if foreground_path %}
                    <div class="col-12 col-md-4">
                        <img class="banner-image" src="{{ foreground_path }}" alt=""/>
                    </div>
                {% endif %}

                {% if text %}
                    <div class="col banner-text">
                        {{ text }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
