<div id="blog-sidebar" class="col-lg-3 col-sm-12">
    <div class="blog-sidebar-inner">
        <h2>
            {{ site.data.strings.latest_blogs }}

            <a class="latest-feed" href="{{ site.rss }}" title="{{ site.data.strings.rss }}">
                {% include images/fa/rss-square.svg %}
            </a>
        </h2>
        <ul>
            {% for post in site.posts limit:5 %}
                <li>
                    <a href="{{ post.permalink }}">{{ post.title | replace: 'Ubuntu MATE ', '' }}</a> <span class="date">({{ post.date | date:'%Y-%m-%d' }})</span>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
