<table class="known-issues">
    <thead>
        <tr>
            <th>{{ site.data.strings.affected_release }}</th>
            <th>{{ site.data.strings.affected_component }}</th>
            <th class="column-problem">{{ site.data.strings.problem }}</th>
            <th class="column-links">{{ site.data.strings.workaround }}</th>
            <th class="column-links">{{ site.data.strings.upstream_links }}</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in site.data.known_issues %}
            <tr>
                <td>{{ issue.release }}</td>
                <td>
                    {% assign icon = "" %}

                    {% capture test_mate %}{{ issue.component | slice: 0, 4 }}{% endcapture %}
                    {% capture test_umate %}{{ issue.component | slice: 0, 11 }}{% endcapture %}
                    {% capture test_ubuntu %}{{ issue.component | slice: 0, 6 }}{% endcapture %}

                    {% if test_mate == "MATE" %}
                        {% assign icon = "/images/brands/mate.svg" %}
                    {% elsif test_umate == "Ubuntu MATE" %}
                        {% assign icon = "/images/brands/ubuntu-mate.svg" %}
                    {% elsif test_ubuntu == "Ubuntu" %}
                        {% assign icon = "/images/brands/ubuntu.svg" %}
                    {% endif %}

                    {% if icon != "" %}
                        <img class="component-icon" src="{{ icon }}" alt=""/>
                    {% endif %}

                    {{ issue.component }}
                </td>
                <td class="column-problem">{{ issue.problem }}</td>
                <td class="column-links">
                    {% for link in issue.workaround_links %}
                        <a class="issue-link" href="{{ link }}" rel="external" title="{{ link }}">◾ {{ site.data.strings.link }}</a>
                        <br>
                    {% endfor %}
                    {% unless issue.workaround_links %}
                        <span class="issue-no-link">{{ site.data.strings.na }}</span>
                    {% endunless %}
                </td>
                <td class="column-links">
                    {% for link in issue.upstream_links %}
                        {% capture text %}
                            {% if link contains 'bugs.launchpad.net' %}
                                LP: {{ link | split:'/' | last }}
                            {% elsif link contains 'github.com' %}
                                {% assign parts = link | split:'/' %}
                                {{ parts[3] }}/{{ parts[4] }}#{{ parts[6] }}
                            {% else %}
                                {{ site.data.strings.link }}
                            {% endif %}
                        {% endcapture %}
                        <a class="issue-link" href="{{ link }}" rel="external" title="{{ link }}">◾ {{ text }}</a>
                        <br>
                    {% endfor %}
                    {% unless issue.upstream_links %}
                        <span class="issue-no-link">{{ site.data.strings.na }}</span>
                    {% endunless %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
