.banner {
    background-color: var(--grey-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0;
    width: 100%;

    /* Variants */
    &.large {
        min-height: 640px;
    }

    &.white-text {
        color: white;
    }
}

.banner-inner {
    margin: auto;
}

.banner-image {
    display: block;
    height: auto;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    padding: 15px;
    vertical-align: middle;
}

.banner-text {
    display: inline-block;
    font-size: 24px;
    max-width: $sm;
    margin: auto;
    vertical-align: middle;

    h1, h2, h3 {
        font-weight: 400;
    }

    p {
        font-weight: 300;
    }

    a {
        display: inline-block;
        color: white;
        font-size: 0.8em;
        padding: 6px 16px;
    }
}

/* Pages utilising a banner at the top, like the home page */
.page.has-banner .banner {
    margin-top: -15px;
}

@media (max-width: $md) {
    .banner-inner {
        img {
            max-width: 250px;
        }
    }

    .banner-image {
        padding: 0;
    }

    .banner-text {
        font-size: 20px;
        padding-right: 15px;
    }
}

@media (max-width: $sm) {
    .banner {
        padding: 15px 0;
        text-align: center;
    }

    .banner-inner {
        img {
            margin: auto;
        }
    }

    .banner-text {
        display: block;
        padding: 0 15px;
    }
}
