.banner {
    background-color: $grey-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 320px;
    width: 100%;

    /* Variants */
    &.large {
        min-height: 640px;
    }

    &.white-text {
        color: white;
    }
}

.banner-inner {
    display: flex;
    margin: auto;

    img {
        display: inline-block;
        height: auto;
        height: intrinsic;
        width: 100%;
        max-width: 300px;
        margin: 15px;
        vertical-align: middle;
    }

    a {
        color: white;
        font-size: 0.8em;
        padding: 6px 16px;
    }
}

.banner-text {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    max-width: $sm;
    margin: auto;

    h1, h2, h3 {
        font-weight: 400;
    }

    p {
        font-weight: 300;
    }

    a {
        display: inline-block;
    }
}

/* Home page only */
.page.has-banner .banner {
    margin-top: -15px;
}

@media (max-width: $md) {
    .banner {
        max-height: 240px;
    }

    .banner-inner {
        img {
            max-width: 250px;
        }
    }

    .banner-text {
        font-size: 20px;
        padding-right: 15px;
    }
}

@media (max-width: $sm) {
    .banner {
        max-height: unset;
        padding: 15px 0;
        text-align: center;
    }

    .banner-inner {
        flex-direction: column;

        img {
            margin: auto;
        }
    }

    .banner-text {
        padding: 0 15px;
    }
}
