/*
 * Galleries ("Carousels") are powered by Slick.js
*/

/* Outer */
.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
    margin: 30px auto;

    button {
        font-size: 0;
        padding: 0;
        height: 15px;
        width: 30px;

        &.slick-prev,
        &.slick-next {
            position: absolute;
            top: 0;
            bottom: 70px;
            font-size: 16px;
            margin: auto;
            height: 35px;
            width: 35px;
            z-index: 1;
        }
    }
}

.slick-list {
    cursor: grab;
    box-shadow: 0px 0px 5px;

    &:active {
        cursor: grabbing;
    }
}

.slick-arrow {
    display: block;
}

.slick-prev {
    order: 2;
    left: -50px;
}

.slick-next {
    order: 4;
    right: -50px;
}

.slick-dots {
    display: flex;
    order: 3;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 15px auto;

    button {
        border: none;
        background: rgba(var(--grey-lightest), 0.5);
        margin: 0 2px;
    }
}

.slick-active > button {
    background: var(--ubuntu-mate-light);
    color: white;

    &:hover,
    &:focus,
    &:active {
        color: white;
    }
}

@media (max-width: $sm) {
    .slick-prev {
        left: 0;
        min-width: 0;
    }

    .slick-next {
        right: 0;
        min-width: 0;
    }
}

/* Inner */
.gallery-item {}

.gallery-caption {
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
}
