/*
 * Highlight video as used on the About page
*/

#highlight-video {
    min-height: 412px;
    max-width: 66%;
}

#highlight-selection {
    text-align: center;
    padding: 5px 0;
}

@media (max-width: $md) {
    #highlight-video {
        max-width: 100%;
        min-height: 256px;
    }
}

@media (max-width: $sm) {
    #highlight-video {
        max-width: 100%;
        min-height: 0;
    }
}
