/*
 * Known Issues table
*/
.known-issues {
    table-layout: fixed;

    thead tr {
        text-align: center;
    }

    .column-problem {
        min-width: 20vw;
    }

    .component-icon {
        height: 24px;
        width: 24px;
        vertical-align: middle;
    }

    .issue-no-link {
        opacity: 0.5;
    }
}
