 /************************
 * Dark Theme Colours
*************************/
/* General */
$background: #222222;
$background-alt: #303030;
$link-colour: #758A53;
$link-colour-focused: #44522E;

$grey-lightest: #616161;
$grey-light: #A9A9A9;
$grey-dark: #D4D3D0;
$grey-darker: #EDEDED;

$header-text: #DED9CB;
$ubuntu-mate-dark: #87A556;
$ubuntu-mate-light: #87A556;

$text-colour-light: white;
$text-colour-dark: white;

$shadow: #4A4A4A;

/* Buttons */
$button-border: $grey-light;
$button-border-focused: $grey-dark;
$button-spacing: 0.5em;

$button-bg: black, #262626;
$button-bg-clicked: #262626, #0F0F0F;

$button-bg-inverted: #585858, #3C3B37;
$button-bg-inverted-clicked: #3C3B37, #585858;

$button-bg-green: #87A556, #6F8647;
$button-bg-green-clicked: #6F8647, #87A556;

$button-bg-yellow: #FBB24C, #F8970D;
$button-bg-yellow-clicked: #F8970D, #FBB24C;

$button-bg-red: #ED5E5A, #C03831;
$button-bg-red-clicked: #C03831, #ED5E5A;

/* Scroll Bars */
$scroll-bar-gradient: #F1F0EE, #FDFDFD;
$scroll-bar-gray: #C9C6C3;

/* Tables */
$table-row: #323232;
$table-row-alt: $background;
$table-row-border: #3D3D3D;

/* Discourse inspired dropdowns */
$dropdown-border: 1px solid #383838;
$dropdown-shadow: 0 12px 12px rgba(0,0,0,0.15);

 /************************
 * Hacks
*************************/
$ubuntu-mate-brand: #87A556;

img[alt="Entroware"],
img[alt="Entroware logo"],
img[src="/images/people/nophoto.svg"] {
    filter: invert(1);
}

.site-header {
    background: #87A556 !important;
}

.sidebar-link:hover,
.sidebar-link:focus {
    background-color: #78934A !important;
}

.toc {
    background-color: $background-alt !important;
}

blockquote a {
    color: $ubuntu-mate-brand;
}

input {
    background-color: $background-alt;
}

/************************
 * Manual toggle in footer
*************************/
#str-light {
    display: inline;
}

#str-dark {
    display: none;
}

/* Not applicable if browser auto supports this */
@media (prefers-color-scheme: dark) {
    #dark-toggle {
        display: none;
    }
}
