---
layout: default
---
<article class="page">

    <div class="container">

        <div class="row">
            <header class="page-header col">
                <h1 class="page-title">{{ page.title | escape }}</h1>
            </header>
        </div>

        <div class="row blog-column">
            <content class="page-content col">
                <hr>
                {% include partials/blog-metadata.html
                    post = page
                %}
                <hr>

                {% assign post_date = page.date | date: '%s' %}
                {% assign post_expires = 'now' | date: '%s' | sum: 31536000 %}

                {% if post_expires > post_date %}
                    <div class="post-outdated">
                        {% include images/fa/warning.svg %}
                        {{ site.data.strings.outdated_post }}
                    </div>
                {% endif %}

                {{ content }}
            </content>

            {% include partials/blog-sidebar.html %}

        </div>

    </div>

</article>
