---
layout: default
---

{% if page.step != 1 %}
<meta name="robots" content="noindex, nofollow"/>
{% endif %}

<article class="page">

    <div class="container">

        <div class="row">
            <div class="page-content col">

                {% if page.step >= 2 %}
                    <a class="download-back" href="../">
                        {% include images/fa/chevron-left.svg %}
                    </a>
                {% endif %}

                <h3 class="download-title">
                    {% if page.step == 1 %}
                        {{ site.data.strings.choose_arch }}
                    {% elsif page.step == 2 %}
                        {{ site.data.strings.choose_version }}
                    {% elsif page.step == 3 %}
                        {{ site.data.strings.choose_download }}
                    {% endif %}
                </h3>

                <div class="progress-indicator">
                    {% if page.step == 1 %}
                        <div class="dot active current"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    {% elsif page.step == 2 %}
                        <a class="dot active" href="../"></a>
                        <div class="dot active current"></div>
                        <div class="dot"></div>
                    {% elsif page.step == 3 %}
                        <a class="dot active" href="../../"></a>
                        <a class="dot active" href="../"></a>
                        <div class="dot active current"></div>
                    {% endif %}
                </div>

            </div>
        </div>

        {% if page.step == 1 %}
            <div class="row grid-container">
                {% for arch in page.arch %}
                    <div class="col-md-6">
                        <a class="grid-item" href="/download/{{ arch.id }}/">
                            <div class="grid-icon">
                                {% capture icon_type %}{{ arch.icon | slice:-3,3 }}{% endcapture %}
                                {% if icon_type == 'svg' %}
                                    {% include {{ arch.icon }} %}
                                {% else %}
                                    <img src="{{ arch.icon }}" alt=""/>
                                {% endif %}
                            </div>
                            <div class="grid-details">
                                <h4>{{ arch.name }}</h4>
                                {{ arch.desc | markdownify }}
                            </div>
                        </a>
                    </div>
                {% endfor %}

                <div class="col-md-6 arch-links-box">
                    <a href="/about/requirements/">
                        {% include images/fa/check.svg %}
                        {{ site.data.strings.show_req }}
                    </a>
                    <a href="/faq/downloads/">
                        {% include images/fa/question-circle.svg %}
                        {{ site.data.strings.download_help }}
                    </a>
                    <a href="https://releases.ubuntu-mate.org">
                        {% include images/fa/folder-open.svg %}
                        {{ site.data.strings.browse_downloads }}
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3 class="download-subtitle">{{ site.data.strings.download_ports }}</h3>
                </div>
            </div>

            <div class="row grid-container">
                {% for port in page.ports %}
                    <div class="col-md-6">
                        <a class="grid-item" href="/download/{{ port.id }}/">
                            <div class="grid-icon">
                                {% capture icon_type %}{{ port.icon | slice:-3,3 }}{% endcapture %}
                                {% if icon_type == 'svg' %}
                                    {% include {{ port.icon }} %}
                                {% else %}
                                    <img src="{{ port.icon }}" alt=""/>
                                {% endif %}
                            </div>
                            <div class="grid-details">
                                <h4>{{ port.name }}</h4>
                                {{ port.desc | markdownify }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col">
                    <h3 class="download-subtitle">{{ site.data.strings.download_products }}</h3>
                </div>
            </div>

            <div class="row grid-container">
                {% for product in page.products %}
                    <div class="col-md-6">
                        <a class="grid-item" href="{{ product.url }}">
                            <div class="grid-icon">
                                {% capture icon_type %}{{ product.icon | slice:-3,3 }}{% endcapture %}
                                {% if icon_type == 'svg' %}
                                    {% include {{ product.icon }} %}
                                {% else %}
                                    <img src="{{ product.icon }}" alt=""/>
                                {% endif %}
                            </div>
                            <div class="grid-details">
                                <h4>{{ product.name }}</h4>
                                {{ product.desc | markdownify }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        {% elsif page.step == 2 %}

            <div class="row grid-container">
                {% for version in site.data.downloads.downloads[page.download_id] %}
                    {% assign release = site.data.downloads.releases[version.release] %}
                    <div class="col-md-6">
                        <a class="grid-item" href="{{ version.release }}/">
                            <div class="grid-icon">
                                <img src="/images/mascots/{{ release.mascot }}" alt="{{ release.codename }}"/>
                            </div>
                            <div class="grid-details">
                                <h4 {% if release.prerelease %}class="prerelease"{% endif %}>
                                    {% if version.release_name_override %}
                                        {{ version.release_name_override }}
                                    {% else %}
                                        {{ release.name }}
                                    {% endif %}
                                    {% if release.prerelease %}{{ site.data.strings.prerelease }}{% endif %}
                                </h4>
                                <p class="grey-text">{{ release.codename }}</p>
                                <p {% if release.prerelease %}class="prerelease"{% endif %}>
                                    {% if release.prerelease == true %}
                                        {{ site.data.strings.label_prerelease }}
                                    {% elsif release.lts == true %}
                                        {{ site.data.strings.label_LTS }}
                                    {% elsif release.lts == false %}
                                        {{ site.data.strings.label_nonLTS }}
                                    {% endif %}
                                </p>
                                <p class="grey-text">
                                    {{ site.data.strings.end_of_life }}
                                    {{ release.end_of_life.month
                                        | replace: 'Jan', site.data.strings.jan
                                        | replace: 'Feb', site.data.strings.feb
                                        | replace: 'Mar', site.data.strings.mar
                                        | replace: 'Apr', site.data.strings.apr
                                        | replace: 'May', site.data.strings.may
                                        | replace: 'Jun', site.data.strings.jun
                                        | replace: 'Jul', site.data.strings.jul
                                        | replace: 'Aug', site.data.strings.aug
                                        | replace: 'Sep', site.data.strings.sep
                                        | replace: 'Oct', site.data.strings.oct
                                        | replace: 'Nov', site.data.strings.nov
                                        | replace: 'Dec', site.data.strings.dec
                                    }}
                                    {{ release.end_of_life.year }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col">
                    {% if page.download_id == "armhf" or page.download_id == "arm64" %}
                    <p class="text-center">
                        <a href="/raspberry-pi/">
                            {{ site.data.strings.learn_more_rpi }}
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>

        {% elsif page.step == 3 %}

            {% assign download = null %}
            {% for ver in site.data.downloads.downloads[page.download_id] %}
                {% if page.release_id == ver.release %}{% assign download = ver %}{% break %}{% endif %}
            {% endfor %}

            <div class="row grid-container">
                <div class="col-md-6">
                    <a class="grid-item" href="{{ download.url }}.torrent" download onclick="download_thanks('torrent')">
                        <div class="grid-icon">
                            {% include images/fa/network-wired.svg %}
                        </div>
                        <div class="grid-details">
                            <h4>{{ site.data.strings.bittorrent }}</h4>
                            {% if download.bandwidth_costs %}<p class="grey-text">{{ site.data.strings.recommended }}</p>{% endif %}
                            <p>{{ site.data.strings.label_bittorrent }}</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="grid-item" href="{{ download.magnet-uri }}" onclick="download_thanks('magnet')">
                        <div class="grid-icon">
                            {% include images/fa/magnet.svg %}
                        </div>
                        <div class="grid-details">
                            <h4>{{ site.data.strings.magnet }}</h4>
                            {% if download.bandwidth_costs %}<p class="grey-text">{{ site.data.strings.recommended }}</p>{% endif %}
                            <p>{{ site.data.strings.label_magnet }}</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="grid-item" href="{{ download.url }}" download onclick="download_thanks('direct')">
                        <div class="grid-icon">
                            {% include images/fa/download.svg %}
                        </div>
                        <div class="grid-details">
                            <h4>{{ site.data.strings.direct }}</h4>
                            <p>{{ site.data.strings.label_direct }}</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% if download.bandwidth_costs %}
                        {{ site.data.strings.prefer_torrent | markdownify | replace: '<p>', '<p class="text-center">' }}
                    {% endif %}
                </div>
            </div>

            <table class="download-details">
                <tbody>
                    <tr>
                        <th>{{ site.data.strings.file_name }}</th>
                        <td>{{ download.url | split:'/' | last }}</td>
                    </tr>
                    <tr>
                        <th>{{ site.data.strings.file_size }}</th>
                        <td>{{ download.size }}</td>
                    </tr>
                    <tr>
                        <th>{{ site.data.strings.checksum }} (SHA256) <a href="/faq/verify-download-quick/">{% include images/fa/question-circle.svg %}</a></th>
                        <td class="split-long-lines"><code>{{ download.sha256sum }}</code></td>
                    </tr>
                </tbody>
            </table>

            <br/>

        {% endif %}

    </div>

</article>
