---
layout: default
---

<article class="page">

    <div class="container downloads-page">

        <div class="row">
            <div class="col">
                {{ content }}
            </div>
        </div>

        {% for _release in site.data.downloads.codenames reversed %}
            {% assign release = _release[1] %}

            <div class="row release-item {% if forloop.last %}last{% endif %}">
                <div class="col-sm-2">
                    <img class="release-mascot" src="/images/mascots/{{ release.mascot }}"/>
                </div>
                <div class="col-sm-10">
                    <h3>
                        Ubuntu MATE {{ release.name }} <span class="release-codename">“{{ release.codename }}”</span>
                        {% if release.beta %}
                            <span class="release-label beta">{{ site.data.strings.label_beta }}</span>
                        {% elsif release.old_lts %}
                            <span class="release-label old-lts">{{ site.data.strings.label_old_lts }}</span>
                        {% elsif release.lts %}
                            <span class="release-label lts">{{ site.data.strings.label_lts }}</span>
                        {% else %}
                            <span class="release-label">{{ site.data.strings.label_interim }}</span>
                        {% endif %}
                    </h3>

                    {% if release.beta %}
                        <p>{{ site.data.strings.about_beta }}</p>
                    {% elsif release.old_lts %}
                        <p>{{ site.data.strings.about_old_lts }}</p>
                    {% elsif release.lts %}
                        <p>{{ site.data.strings.about_lts }}</p>
                    {% else %}
                        <p>{{ site.data.strings.about_interim }}</p>
                    {% endif %}

                    <p class="grey-text">
                        {{ site.data.strings.end_of_life }}
                        {{ release.end_of_life.month
                            | replace: 'Jan', site.data.strings.jan
                            | replace: 'Feb', site.data.strings.feb
                            | replace: 'Mar', site.data.strings.mar
                            | replace: 'Apr', site.data.strings.apr
                            | replace: 'May', site.data.strings.may
                            | replace: 'Jun', site.data.strings.jun
                            | replace: 'Jul', site.data.strings.jul
                            | replace: 'Aug', site.data.strings.aug
                            | replace: 'Sep', site.data.strings.sep
                            | replace: 'Oct', site.data.strings.oct
                            | replace: 'Nov', site.data.strings.nov
                            | replace: 'Dec', site.data.strings.dec
                        }}
                        {{ release.end_of_life.year }}
                    </p>

                    {% if release.release_notes %}
                        <div class="release-links">
                            <a href="{{ release.release_notes }}">
                                {% include images/ubuntu-mate-mono.svg %}
                                {{ site.data.strings.release_notes }}
                            </a>
                        </div>
                    {% endif %}

                    <div class="file-links">
                        {% for _arch in release.releases %}
                            {% assign arch_name = _arch[0] %}
                            {% assign file = _arch[1] %}

                            <a class="btn" href="{{ file.url }}.torrent" onclick="downloadStarted(this)">
                                {% include images/fa/network-wired.svg %}
                                Torrent
                            </a>
                            <a class="btn" href="{{ file.magnet-uri }}" onclick="downloadStarted(this)">
                                {% include images/fa/magnet.svg %}
                            </a>
                            <a class="btn" href="{{ file.url }}" onclick="downloadStarted(this)">
                                {% include images/fa/download.svg %}
                                Direct
                            </a>

                            <span class="file-size">{{ file.size }}</span>

                            {% if release.releases.size > 1 %}
                                | {{ arch_name }}
                            {% endif %}

                            <div>
                                <details class="checksum">
                                    <summary>{{ site.data.strings.checksum }}</summary>
                                    <div class="checksum-open">
                                        <div class="checksum-row">
                                            {{ file.url | split:'/' | last }}
                                        </div>
                                        <div class="checksum-row">
                                            SHA256: <code>{{ file.sha256sum }}</code>
                                        </div>
                                        <a class="btn" href="/faq/verify-download-quick/">
                                            {% include images/fa/question-circle.svg %}
                                            {{ site.data.strings.download_verify_howto }}
                                        </a>
                                    </div>
                                </details>
                            </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endfor %}

        <div id="download-tip" style="display:none" hidden>
            <div class="col-sm-2">
                <img class="download-tip-jar" src="/images/downloads/tips.svg"/>
            </div>
            <div class="col-sm-10">
                <h3>{{ site.data.strings.download_tip_title }}</h3>
                {{ site.data.strings.download_tip_text | markdownify }}
                <p>{% include embed/download-tip-paypal.html %}</p>
                <p>{{ site.data.strings.download_tip_provider }}&nbsp;&nbsp;<img src="/images/brands/paypal.svg" alt="PayPal"/></p>
                {{ site.data.strings.download_tip_footnote | markdownify }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>
                    <a href="/raspberry-pi/download/">
                        {% include images/brands/rpi-outline.svg %}
                        {{ site.data.strings.download_rpi_link }}
                    </a>
                </div>
                <div>
                    <a href="https://releases.ubuntu-mate.org">
                        {% include images/fa/folder-open.svg %}
                        {{ site.data.strings.browse_downloads }}
                    </a>
                </div>
            </div>
        </div>

    </div>

</article>
