---
layout: default
---
<article class="page">

    <div class="container">

        <div class="row">
            <content class="page-content col feature-page">

                {% include partials/categories.html
                    id = "features"
                %}

                <div class="content">
                    {{ content }}
                </div>

                <div class="feature-filters">
                    <noscript>
                        <p>{{ site.data.strings.js_required }}</p>
                    </noscript>
                    <label>
                        {{ site.data.strings.filter_distro }}
                        <select id="filter-distro" class="feature-filter" onchange="refresh_feature_filters()">
                            <option name="not-in-22-04">22.04 LTS</option>
                            <option name="not-in-23-04">23.04</option>
                        </select>
                    </label>
                    <label>
                        <input id="filter-min-only" class="feature-filter" type="checkbox" onchange="refresh_feature_filters()"/>
                        {{ site.data.strings.filter_min_only }}
                    </label>
                </div>

                {% assign grid = site.data.feature-grid %}

                <div class="feature-grid">
                    {% for vendor in grid %}
                        <div class="feature-vendor">
                            <div class="vendor-details">
                                {% assign name = vendor.name %}
                                {% if vendor.string_name %}
                                    {% assign name = site.data.strings[vendor.string_name] %}
                                {% endif %}

                                {% if name %}
                                    <h4>{{ name }}</h4>
                                {% endif %}

                                {% if vendor.icon %}
                                    <img src="{{ vendor.icon }}" alt=""/>
                                {% endif %}

                            </div>
                            <div class="vendor-features">
                                {% for item in vendor.provides %}
                                    {% assign name = item.name %}
                                    {% if item.string_name %}
                                        {% assign name = site.data.strings[item.string_name] %}
                                    {% endif %}

                                    {% if item.url %}
                                    <a class="feature" href="{{ item.url }}">
                                    {% else %}
                                    <div class="feature {% for class in item.class %}filter-{{ class }} {% endfor %} {% if item.not_in_min_install == true %}filter-min-only{% endif %}">
                                    {% endif %}

                                        {% if item.icon %}
                                            <img src="{{ item.icon }}" alt="{{ name }}"/>
                                        {% endif %}

                                        {% if item.technology %}
                                            <code>{{ item.technology }}</code>
                                        {% endif %}

                                        {% if name %}
                                            <span>
                                                {{ name }}{% if item.url %}{% include images/fa/external-link-alt.svg %}{% endif %}
                                                {% if item.live_only %}<span class="key-hover" title="{{ site.data.strings.live_only }}">*</span>{% endif %}
                                            </span>
                                        {% endif %}

                                    {% if item.url %}
                                    </a>
                                    {% else %}
                                    </div>
                                    {% endif %}

                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}

                    <div class="key">
                        <p><span>*</span> {{ site.data.strings.live_only }}</p>
                    </div>

                </div>

            </content>
        </div>

    </div>

</article>
