---
layout: default
---
<article class="page">

    <div class="container">

        <div class="row">
            <div class="page-content col">

                {% include partials/categories.html
                    id = page.category
                %}

                <div class="milestone-timeline">
                    <div class="milestone-sidebar"></div>
                    <article class="milestone-article">

                        {{ content }}

                    </article>
                </div>

            </div>
        </div>

    </div>

</article>
