---
layout: default
---

<meta name="robots" content="noindex, nofollow"/>

{% assign download = null %}
{% for ver in site.data.downloads.downloads[page.download_id] %}
    {% if page.release_id == ver.release %}{% assign download = ver %}{% break %}{% endif %}
{% endfor %}
{% assign release = site.data.downloads.releases[download.release] %}
{% assign arch = page.download_id %}

{% assign fg = "/images/ubuntu-mate/laptop.png" %}
{% if arch == "i386" %}{% assign fg = "/images/ubuntu-mate/i386.svg" %}{% endif %}
{% if arch == "armhf" %}{% assign fg = "/images/ubuntu-mate/rpi.png" %}{% endif %}
{% if arch == "arm64" %}{% assign fg = "/images/ubuntu-mate/rpi.png" %}{% endif %}
{% if arch == "gpd_pocket" %}{% assign fg = "/images/hardware/gpd-pocket2.png" %}{% endif %}
{% if arch == "gpd_pocket_2" %}{% assign fg = "/images/hardware/gpd-pocket2.png" %}{% endif %}
{% if arch == "gpd_micropc" %}{% assign fg = "/images/hardware/gpd-pocket2.png" %}{% endif %}
{% if arch == "gpd_p2_max" %}{% assign fg = "/images/hardware/gpd-pocket2.png" %}{% endif %}
{% if arch == "topjoy_falcon" %}{% assign fg = "/images/hardware/gpd-pocket2.png" %}{% endif %}

{% capture banner_text %}
    <small>{{ site.data.strings.post_download_title }}</small>
    <h2>Ubuntu MATE {% if download.release_name_override %}{{ download.release_name_override }}{% else %}{{ release.name }}{% endif %}</h2>
    <p>{{ site.data.strings.post_download_release | replace: '[Focal]', release.codename | replace: '[amd64]', arch }}</p>
    <p><a class="btn green" href="{{ release.release_notes | absolute_url }}">{{ site.data.strings.release_notes }}</a></p>
{% endcapture %}

{% capture background_path %}/images/wallpapers/{{ release.wallpaper }}{% endcapture %}

<article class="page has-banner">

    {% include partials/banner.html
        bg = background_path
        fg = fg
        text = banner_text
        variant = "white-text"
    %}

    <div class="container">

        {% if release.prerelease == true %}
            <div class="alert warning">
                <strong>{% include images/fa/warning.svg %} {{ site.data.strings.prerelease_warning_title }}</strong>
                <p>{{ site.data.strings.prerelease_warning_text }}</p>
                <p><a href="/get-involved/">{{ site.data.strings.prerelease_warning_button }}</a></p>
            </div>
        {% endif %}

        <div id="post-download-link" class="download-thanks row">
            <div class="col-sm-2">
                <img src="/images/icons/media-optical.png"/>
            </div>
            <div class="col-sm-10">
                <h3>{{ site.data.strings.download_started }}</h3>
                <p id="method-direct">
                    {{ site.data.strings.download_started_help }}
                    <br>
                    <a class="retry" href="{{ download.url }}">{{ download.url }}</a>
                </p>
                <p id="method-torrent" style="display:none">
                    {{ site.data.strings.download_started_help }}
                    <br>
                    <a class="retry" href="{{ download.url }}.torrent">{{ download.url }}.torrent</a>
                </p>
                <p id="method-magnet" style="display:none">
                    {{ site.data.strings.download_started_help }}
                    <br>
                    <a class="retry" href="{{ download.magnet-uri }}">{{ download.magnet-uri }}</a>
                </p>
                <script>
                    method = window.location.href.split("?method=")[1];
                    m_direct = document.getElementById("method-direct");
                    m_torrent = document.getElementById("method-torrent");
                    m_magnet = document.getElementById("method-magnet");
                    if (method != null || method != undefined) {
                        m_direct.style.display = "none";
                        m_torrent.style.display = "none";
                        m_magnet.style.display = "none";
                        switch(method) {
                            case "direct":
                                m_direct.style.display = "block";
                                break;
                            case "torrent":
                                m_torrent.style.display = "block";
                                break;
                            case "magnet":
                                m_magnet.style.display = "block";
                                break;
                            default:
                                document.getElementById("post-download-link").remove();
                                break;
                        }
                    }
                </script>

                <p class="choose-alt-download">
                    <a href="../">
                        {% include images/fa/chevron-left.svg %}
                        {{ site.data.strings.post_download_go_back }}
                    </a>
                </p>

            </div>
        </div>

        <div class="download-thanks row">
            <div class="col-sm-2">
                <img src="/images/downloads/tips.svg"/>
            </div>
            <div class="col-sm-10">
                <h3>{{ site.data.strings.download_tip_title }}</h3>
                {{ site.data.strings.download_tip_text | markdownify }}
                <p>{% include embed/download-tip-paypal.html %}</p>
                <p>{{ site.data.strings.download_tip_provider }}&nbsp;&nbsp;<img src="/images/brands/paypal.svg" alt="PayPal"/></p>
                {{ site.data.strings.download_tip_footnote | markdownify }}
            </div>
        </div>

        <div class="download-thanks row">
            <div class="col-sm-2">
                <img src="/images/downloads/verify.svg"/>
            </div>
            <div class="col-sm-10">
                <h3>{{ site.data.strings.download_verify_title }}</h3>
                {{ site.data.strings.download_verify_text | markdownify }}
                <table>
                    <tbody>
                        <tr>
                            <th>{{ site.data.strings.filename }}</th>
                            <td>{{ download.url | split:'/' | last }}</td>
                        </tr>
                        <tr>
                            <th>SHA256SUM</th>
                            <td><code>{{ download.sha256sum }}</code></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <a href="{{ '/faq/verify-download-quick/' | absolute_url }}">
                        {% include images/fa/question-circle.svg %}
                        {{ site.data.strings.download_verify_howto }}
                    </a>
                </p>
            </div>
        </div>

        <div class="download-thanks row">
            <div class="col-sm-2">
                <img src="/images/downloads/guides.png"/>
            </div>
            <div class="col-sm-10">
                <h3>{{ site.data.strings.download_guide_title }}</h3>
                {{ site.data.strings.download_guide_text | markdownify }}
                <p>
                    <a class="btn green" href="https://guide.ubuntu-mate.org">
                        {% include images/fa/external-link-alt.svg %}
                        {{ site.data.strings.download_guide_view_button }}
                    </a>
                    <a class="btn" href="{{ '/shop/books/' | absolute_url }}">
                        {% include images/fa/shopping-cart.svg %}
                        {{ site.data.strings.download_guide_shop_button }}
                    </a>
                </p>
            </div>
        </div>

        <div class="download-thanks row">
            <div class="col-sm-2">
                <img src="/images/downloads/stuck.svg"/>
            </div>
            <div class="col-sm-10">
                <h3>{{ site.data.strings.download_stuck_title }}</h3>
                {{ site.data.strings.download_stuck_text | markdownify }}

                <ul>
                    <li>
                        <a href="{{ '/faq/usb-image/' | absolute_url }}">{{ site.data.strings.download_stuck_help_imgusb }}</a>
                    </li>
                    <li>
                        <a href="{{ '/faq/' | absolute_url }}">{{ site.data.strings.download_stuck_help_faq }}</a>
                    </li>
                    <li>
                        <a href="{{ '/support/' | absolute_url }}">{{ site.data.strings.download_stuck_help_support }}</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</article>

{% capture download_name %}Ubuntu MATE {% if download.release_name_override %}{{ download.release_name_override }}{% else %}{{ release.name }}{% endif %}{% endcapture %}
<script>
    document.title = "{{ site.data.strings.post_download_page_title | replace: '[20.04]', download_name | replace: '[amd64]', arch }}";
</script>
