---
layout: default
---
<article class="page">

    <div class="container">

        <div class="row">
            <header class="page-header col">
                <h1 class="page-title">{{ page.title | escape }}</h1>
            </header>
        </div>

        <div class="row">
            <div class="page-content col">

                {{ content }}

                <input type="text" id="search-input" placeholder="{{ site.data.strings.search_placeholder }}">
                <ul id="results-container"></ul>

            </div>
        </div>

    </div>

</article>
