---
layout: default
---
<article class="page">

    <div class="container">

        <div class="row">
            <div class="page-content col">

                {% include partials/categories.html
                    id = page.category
                %}

                {% for category in site.data.team %}

                  <h3>{{ site.data.strings[category.title_name] }}</h3>
                  {% if category.desc_name %}
                    <p>{{ site.data.strings[category.desc_name] }}</p>
                  {% endif %}

                  <div class="team-members {{ category.class }}">

                    {% assign members_az = category.members | sort: "name" %}

                    {% for member in members_az %}
                      <div class="member {% unless member.avatar %}compact{% endunless %}">

                        {% if member.url %}<a href="{{ member.url }}" rel="external">{% endif %}

                          {% if member.avatar %}
                            <img class="member-avatar" loading="lazy" src="{% if member.avatar %}{{ member.avatar }}{% else %}/images/people/nophoto.svg{% endif %}" alt="{{ member.name }}"/>
                          {% endif %}

                        {% if member.url %}</a>{% endif %}

                        <div class="member-name">
                            {% if member.url %}<a href="{{ member.url }}" rel="external">{% endif %}
                                {{ member.name }}
                            {% if member.url %}</a>{% endif %}
                        </div>

                        {% if member.desc %}
                            <div class="member-desc">
                                {{ member.desc }}
                            </div>
                        {% endif %}

                        <div class="member-roles">
                          {% for role in member.roles %}
                            {% if role == "ubuntu" %}            {% assign icon = "/images/brands/ubuntu.svg" %}
                                                                 {% assign label = site.data.strings.team_ubuntu %}

                            {% elsif role == "canonical" %}      {% assign icon = "/images/brands/canonical.svg" %}
                                                                 {% assign label = site.data.strings.team_canonical %}

                            {% elsif role == "mate_desktop" %}   {% assign icon = "/images/brands/mate.svg" %}
                                                                 {% assign label = site.data.strings.team_mate %}

                            {% elsif role == "ubuntu_mate" %}    {% assign icon = "/images/ubuntu-mate/logo.svg" %}
                                                                 {% assign label = "Ubuntu MATE" %}

                            {% elsif role == "debian" %}        {% assign icon = "/images/brands/debian.svg" %}
                                                                {% assign label = site.data.strings.team_debian %}

                            {% elsif role == "artwork" %}        {% assign icon = "/images/icons/preferences-desktop-wallpaper.png" %}
                                                                 {% assign label = site.data.strings.team_artwork %}

                            {% elsif role == "code" %}           {% assign icon = "/images/icons/applications-development.png" %}
                                                                 {% assign label = site.data.strings.team_coder %}

                            {% elsif role == "documentation" %}  {% assign icon = "/images/icons/accessories-text-editor.png" %}
                                                                 {% assign label = site.data.strings.team_docs %}

                            {% elsif role == "community" %}      {% assign icon = "/images/icons/messaging-app.png" %}
                                                                 {% assign label = site.data.strings.team_community %}

                            {% elsif role == "qa" %}             {% assign icon = "/images/get-involved/qa.svg" %}
                                                                 {% assign label = site.data.strings.team_qa %}

                            {% elsif role == "packager" %}       {% assign icon = "/images/icons/package-x-generic.png" %}
                                                                 {% assign label = site.data.strings.team_packager %}

                            {% elsif role == "bug_hunter" %}     {% assign icon = "/images/icons/lpi-bug.svg" %}
                                                                {% assign label = site.data.strings.team_bug_hunter %}

                            {% elsif role == "bug_fixer" %}     {% assign icon = "/images/icons/applications-development.png" %}
                                                                {% assign label = site.data.strings.team_bug_fixer %}

                            {% elsif role == "raspberry_pi" %}  {% assign icon = "/images/brands/raspberry-pi.svg" %}
                                                                {% assign label = site.data.strings.team_rpi_contrib %}

                            {% elsif role == "accessibility" %} {% assign icon = "/images/icons/preferences-desktop-accessibility.png" %}
                                                                {% assign label = site.data.strings.team_accessibility %}

                            {% else %}
                                {{ role }}? {% continue %}
                            {% endif %}

                            <img src="{{ icon }}" title="{{ label }}" alt="{{ label }}"/>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}

                  </div>

                {% endfor %}

                {{ content }}

            </div>
        </div>

    </div>

</article>
