---
layout: default
---
<article class="page">

    <div class="container">

        <div class="row">
            <content class="page-content col">

                {% include partials/categories.html
                    id = page.category
                %}

                {% for category in site.data.team %}

                  <h3>{{ category.title }}</h3>

                  <div class="team-members">

                    {% assign members_az = category.members | sort: "name" %}

                    {% for member in members_az %}
                      <div class="member">

                        {% if member.url %}<a href="{{ member.url }}" rel="external">{% endif %}

                          <img class="member-avatar" src="{% if member.avatar %}{{ member.avatar }}{% else %}/images/people/nophoto.svg{% endif %}" alt="{{ member.name }}"/>

                        {% if member.url %}</a>{% endif %}

                        <div class="member-name">
                            {% if member.url %}<a href="{{ member.url }}" rel="external">{% endif %}
                                {{ member.name }}
                            {% if member.url %}</a>{% endif %}
                        </div>

                        <div class="member-roles">
                          {% for role in member.roles %}
                            {% if role == "ubuntu" %}            {% assign icon = "/images/brands/ubuntu.svg" %}
                                                                 {% assign label = site.data.strings.team_ubuntu %}

                            {% elsif role == "canonical" %}      {% assign icon = "/images/brands/canonical.svg" %}
                                                                 {% assign label = site.data.strings.team_canonical %}

                            {% elsif role == "mate_desktop" %}   {% assign icon = "/images/brands/mate.svg" %}
                                                                 {% assign label = site.data.strings.team_mate %}

                            {% elsif role == "ubuntu_mate" %}    {% assign icon = "/images/ubuntu-mate/logo.svg" %}
                                                                 {% assign label = "Ubuntu MATE" %}

                            {% elsif role == "artwork" %}        {% assign icon = "/images/Ambiant-MATE/preferences-desktop-theme.svg" %}
                                                                 {% assign label = site.data.strings.team_artwork %}

                            {% elsif role == "code" %}           {% assign icon = "/images/Ambiant-MATE/applications-debugging.svg" %}
                                                                 {% assign label = site.data.strings.team_coder %}

                            {% elsif role == "documentation" %}  {% assign icon = "/images/Ambiant-MATE/accessories-text-editor.svg" %}
                                                                 {% assign label = site.data.strings.team_docs %}

                            {% elsif role == "community" %}      {% assign icon = "/images/Ambiant-MATE/applications-chat.svg" %}
                                                                 {% assign label = site.data.strings.team_community %}

                            {% elsif role == "qa" %}             {% assign icon = "/images/get-involved/qa.svg" %}
                                                                 {% assign label = site.data.strings.team_qa %}

                            {% elsif role == "packager" %}       {% assign icon = "/images/categories/features/package.svg" %}
                                                                 {% assign label = site.data.strings.team_packager %}

                            {% elsif role == "bug_hunter" %}     {% assign icon = "/images/Ambiant-MATE/lpi-bug.svg" %}
                                                                {% assign label = site.data.strings.team_bug_hunter %}

                            {% elsif role == "bug_fixer" %}     {% assign icon = "/images/Ambiant-MATE/applications-debugging.svg" %}
                                                                {% assign label = site.data.strings.team_bug_fixer %}
                            {% else %}
                                {{ role }}? {% continue %}
                            {% endif %}

                            <img src="{{ icon }}" title="{{ label }}" alt="{{ label }}"/>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}

                  </div>

                {% endfor %}

                <h1>{{ site.data.strings.thanks_title }}</h1>
                <p>{{ site.data.strings.thanks_subtitle }}</p>

                <ul>
                    {% for credit in page.thanks %}
                        <li>
                            <strong>{{ credit | split: ':' | first }}:</strong>
                            {{ credit | split: ':' | last }}
                        </li>
                    {% endfor %}
                </ul>

                {{ content }}

            </content>
        </div>

    </div>

</article>
